/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(82, 82, 82, 0.4)), url(../images/background.png);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active {background-color: #d3f2c7;border: 1px solid #59ef59; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
    
}

.player-current-box {
    background-color: #262626;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}
.player-0-panel.active .player-current-box { background-color: #43dd5b;}
.player-1-panel.active .player-current-box { background-color: #43dd5b;}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #da6b6b;
}

.player-0-panel.active .player-current-label {color: #0c0c0c;}
.player-1-panel.active .player-current-label {color: #0c0c0c;}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner-update {
    display: block;
    width: 125px;
    font-size: 35px;
    font-weight: 300;
    color: #E64D4D;
    position: absolute;  
}

.player-0-panel{position: relative;}
.player-1-panel{position: relative;}
.player-0-panel .winner-update{right: 0;left: 0;top: 70px;margin:auto;}
.player-1-panel .winner-update{right: 0;left: 0;top: 70px;margin:auto;}
.active .player-name.activePoint:after{
    display:none;
}

.dice.animation{
    animation: diceDOM 2s infinite;
    left: 45%;
}

@keyframes diceDOM{
    0%{transform:   scale(1);}
    10%{transform:  scale(2); opacity: 1;}
    40%{transform:  scale(1); opacity: 1;}
    80%{transform:  scale(10); opacity: .4;border-radius:0;border-color:transparent;}
    100%{transform: scale(0);opacity: 0;}
 
}
.dice{border: 3px solid rgba(111, 206, 112, 0.74);border-radius: 32px;}

.dice.spinning{
    transform: scale(2);
    left: 45%;
    border-radius: 50%;
    border-color:#EB4D4D;
    animation: diceSpin 1s infinite;
}

@keyframes diceSpin{
   from{transform:rotateZ(0deg) scale(1.2);}
    to{transform:rotate(720deg) scale(1);}
 
}

/*.player-1-panel::before {
    content: '';
    display: block;
    width: 0%;
    border-bottom: 10px solid #43dd5b;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.player-1-panel::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 10px solid #8080803d;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
}
.player-0-panel::before {
    content: '';
    display: block;
    width: 0%;
    border-bottom: 10px solid #43dd5b;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.player-0-panel::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 10px solid #8080803d;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
}*/
.btn-settings{
    width:30px;
    height:30px;
    position: absolute;
    right:0;
    top:10px;
    left: initial!important;
    cursor:pointer;
    z-index: 9999;
    border-radius: 50%;
    z-index: 9999999;


}
.btn-settings.popover{
    background:#d6ffd6;
}
.btn-settings:hover img{
    opacity: .8;
    background:#d6ffd6;
    border-radius: 50%;
}
.btn-settings img{
    width:30px;
    cursor:pointer;

}

.setting-inputs{
    position: absolute;
    width:300px;
    height:370px;
    background:#d6ffd6;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index: 99999;
    box-shadow: 0 0 8px #778279;
    display: none;
    padding-top:20px;
}
.blurEffect{
    position: absolute;
    width:100%;
    height:auto;
    background:#0000002b;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index: 9999;
    display: none;
}

.game-settings .popup{
    display:block;
}

.setting-inputs input{
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 18px;
    border:1px solid #000;

}
.setting-inputs label{
    padding-left: 15px;
}
#settingUpdate {
    cursor: pointer;
    background: #38b84c;
    color: #fff;
    border: 1px solid #38b84c;
    margin-top: 30px;
}
#settingUpdate:hover{
    opacity: .8;
}
.gamespoints{
    position: absolute;
    top: 0;
    color: #384139;
    z-index: 9999;
    padding: 10px;
}

.winnerBallons{
    position: absolute!important;
    width: 200px;
    overflow: hidden;
    z-index: 9999999;
}
@keyframes fallDown{
  0% { transform: translate(1px, 1px) rotate(0deg); bottom:-300px;}
  20% { transform: translate(-3px, 0px) rotate(10deg); }
  50% { transform: translate(-1px, 2px) rotate(-10deg); }
  80% { transform: translate(-1px, -1px) rotate(10deg); }
  100% { transform: translate(1px, -2px) rotate(-10deg);bottom:100%;}
}
@keyframes rollUpDown{
  0% { transform: translate(1px, 1px) rotate(0deg); bottom:300px;}
  20% { transform: translate(-3px, 0px) rotate(10deg); }
  50% { transform: translate(-1px, 2px) rotate(-10deg); bottom:70%;}
  80% { transform: translate(-1px, -1px) rotate(10deg); }
  100% { transform: translate(1px, -2px) rotate(-10deg);bottom:-300px;}
}
.add-ballons{
    width:100%;
    height:100px;
}

.count-reaction{
    display:block;
    width:100px;
    position: absolute;
    right:20px;
    top:20px;
    z-index: 99999;
    cursor: pointer;

}
.count-reaction:hover{
    opacity: .9;
}
.count-reaction img{
    width:100px;
}
.count-reaction .loved {
    position: absolute;
    right: 0px;
    top: 22px;
    left: 0;
    font-size: 12px;
    color: #ddd;
    font-weight: bold;
    text-shadow: 0 0px 3px #4a3232b5;
    text-align: center;
}


/*Count game*/
.count-game{
    display:block;
    width:100px;
    position: absolute;
    right:20px;
    top:115px;
    z-index: 99999;
    cursor: pointer;

}
.count-game:hover{
    opacity: .9;
}
.count-game img{
    width:100px;
}
.count-game .loved {
    position: absolute;
    right: 0px;
    top: 22px;
    left: 0;
    font-size: 12px;
    color: #ddd;
    font-weight: bold;
    text-shadow: 0 0px 3px #4a3232b5;
    text-align: center;
}